* {
  margin: 0;
  padding: 0;
  font-family: "Rubik Pixels";
}

body {
  background-image: url("Imagen/catBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contenedorGeneral {
  width: 550px;
  margin: 0 auto;
  background-color: white;
}

h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 35px;
  text-align: center;
  color: rgb(255, 129, 192);
}

.contenedorImagen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  flex-wrap: wrap;
}

.divImagenAleatoria1,
.divImagenAleatoria2,
.divImagenAleatoria3,
.divImagenAleatoria4 {
  flex-basis: 50%;
  height: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

#imagenAleatoria1, #imagenAleatoria2, #imagenAleatoria3, #imagenAleatoria4 {
  max-width: 100%;
  max-height: 100%;
}

#checkIcon {
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#checkIcon:hover {
  background-color: rgb(255, 129, 192);
  border-radius: 50%;
}

.contenedorBoton {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#botonSiguiente {
  width: 100px;
  cursor: pointer;
  transition: transform 0.01s ease-in-out;
}

#botonSiguiente:hover {
  transform: scale(0.9);
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMedia {
  width: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 10px;
  transition: transform 0.01s ease-in-out;
}

.socialMedia:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 530px) {
  .contenedorGeneral {
    width: 350px;
  }

  h1 {
    margin-bottom: 10px;
  }

  .contenedorImagen {
    width: 350px;
    height: 350px;
  }

  .contenedorBoton {
    margin-top: 10px;
  }

  #botonSiguiente {
    width: 100px;
  }

  .socialMedia {
    width: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
